.procurement-table thead th {
  font-weight: bold;
  color: #000;
}

.procurement-table .column-number {
  text-align: right;
}

.table-center {
  text-align: center;
}

th a, th a:hover {
  color: #000;
}
.dynatable-record-count {
  text-align: right;
}

@media screen and (min-width: 900px) {
  .table-center {
    text-align: left;
  }
  .dynatable-search {
    margin-right: 15%;
  }

  .dynatable-record-count {
    margin-left: 15%;
    margin-right: 15%;
  }
}
