.table-center {
  text-align: center;
}

.dynatable-per-page, .dynatable-pagination-links {
  display: none;
}

th a, th a:hover {
  color: #000;
}
.dynatable-record-count {
  text-align: right;
}

@media screen and (min-width: 900px) {
  .table-center {
    text-align: left;
  }
  .dynatable-search {
    margin-right: 15%;
  }

  .dynatable-record-count {
    margin-left: 15%;
    margin-right: 15%;
  }
}
