<p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
  <a rel="license"
     href="http://creativecommons.org/publicdomain/zero/1.0/"
     style="float: left; display: block;">
    <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none; margin: 10px; " alt="CC0" />
  </a>
  <p>
  To the extent possible under law, <span property="dct:title"><%= link_to "MuniRent", "https://www.munirent.co", rel:"dct:publisher", target: "blank" %></span>
  has waived all copyright and related or neighboring rights to
  <span property="dct:title">Open Procure</span>.
This work is published from:
<span property="vcard:Country" datatype="dct:ISO3166"
      content="US" about="http://openprocure.us">
  United States</span>.
</p>
</p>
