<h2 id="terminology">Terminology</h2>

<p>Every agency has different rules for purchasing. Here are some guidelines for the 2
  thresholds we track on Open Procure. These rules are necessarily vague. Select the
  thresholds that fit best when adding a new agency.</p>

<p><strong>Discretionary threshold</strong> is what a department can purchase on its own.
  This typically means the department leader has the authority to select a vendor and
  approve the purchase.</p>

<p><strong>Formal threshold</strong> is what an agency can purchase before requiring a
  public bid.  Purchases below this limit typically involve the purchasing department and
  require several quotes or a single source document, but don't require a request for
  proposal (RFP) to be posted publicly by the purchasing agency.</p>

<p><em>Department</em> can mean group, division, city depending on the agency.</p>

